@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,700&display=swap');

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/GothamMedium.ttf);
}

@font-face {
    font-family: 'Gothamlight';
    src: url(../fonts/GothamLight.ttf);
}

@font-face {
    font-family: 'Myriad';
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}
*{
    box-sizing: border-box;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}



header{
    background: url(../img/Layer\ 96.png) center top / cover;
    min-height: 100vh;
    width: 100%;
    
    
}

a{
    text-decoration: none;
}


#navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid #ffffff40 1px;
    
}

.none{
    display: none !important;
}


#navigation > .fa-bars{
    color: white;
    display: none;
    font-size: 1.6rem;
    margin-right: 30px;
    cursor: pointer;
}

.fa-xmark{
    color: white;
    font-size: 1.4rem;
    margin-right: 10px;
    cursor: pointer;
}

#mobileNavArea{
    overflow: hidden;
    width: 100%;
    height: 0px;
    background:#d21242 ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.2s ease 0s;
    flex-direction: column;
}
.openNav{
    height: 300px !important;
}
#mobileNavArea > ul > li {
    list-style-type: none;
    margin: 10px 0px;
}
#mobileNavArea > ul > li > a {
    text-decoration: none;
    color: white;
    font-family: "Myriad";
    
}

.iconesMobile{
    display: flex;
    width: 100%;
    justify-content: end;
    
}

.iconesMobile > i{
    color: white;
    font-size: 1.5em;
    margin-right: 40px;
}

.logo{
    position: relative;
    color: white;
    width: 20%;
    display: flex;
    font-family: "Roboto";
    justify-content: center;
}

.logo > p{

    background-color:#d21242;
    padding: 15px 10px;
    z-index: 5;
    font-size: 1.4em;
    font-weight: 500;
    box-shadow: 10px 5px 0px  white ;
    user-select: none;
}


.navMenu{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 60%;
}

.navMenu > li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    height: 100%;
    width: 10%; 
}


.navMenu > li > a{
    color: white;
    font-family: 'Myriad';
}

.navMenu > li:hover{
    border-bottom: 3px solid #d21242;
}

.icones{
    color: white;
    width: 20%;
    display: flex;
    justify-content: flex-start;
}

h1{
    color: white;
    font-size: 7em;
    font-family: "Gothamlight", sans-serif;
    font-weight: 500;
}

.icones > i{
    margin: 10px;
    cursor: pointer;
    font-size: 1em;
}

.icones > i:hover{
    color: #d21242;
}

.boxHeader{
    display: flex;
    height: calc(100vh - 100px);
    justify-content: center;
    width: 100%;
    flex-direction: column;
}


.headerTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;

}

.scroll{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
   
}

#scrollBtn{

    transition: all 0.2s ease-in-out;

}
#scrollBtn:hover{

    transform: rotate(-180deg);

}

.scroll > p{
    margin: 10px;
    font-family: "Open Sans";
}

.scroll > a{
    border: 1px solid white;
    padding: 9px 12px;
    color: white;
    border-radius: 100%;
    cursor: pointer;

}

.scroll > a:hover{
    color: #d21242;
    border: 1px #d21242 solid;
}

#agency{
    min-height: 100vh;
    background-color: #d21242;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.awesome{
    
    width: 100%;
    color: white;
    font-family: "Gothamlight";
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.awesome > .weAre{
    position: relative;
    text-align: center;
    height: 50%;
    font-size: 4.5em;
   
}

.awesome > .weAre::before{
    content: "W";
    
        position: absolute;
        font-size: 5.5em;
        text-align: center;
        width: 100%;
        height: 100%;
        color: rgba(255, 255, 255, 0.315);
        top: -200px;
        font-family: "Gotham";
        user-select: none;

}



.features{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxFeatures{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
    font-family: "Gothamlight";
    font-weight: 100;
}
.boxFeatures > i{
    font-size: 3em;
    margin-bottom: 30px;
}
.boxFeatures > p{
    width: 70%;
    text-align: center;
    
}

footer{
    min-height: 10vh;
    display: flex;
    background-color: #222222;
    color: white;
    font-family: "Roboto";
    align-items: center;
    justify-content: center;
}

.footerText{
    display: flex;
    width: 90%;
    justify-content: space-between;
}


@media screen and (max-width: 1024px) {

    .awesome > .weAre::before{
        top: -101px;
        
    }

  
    h1{
        font-size: 5em;
    }
    #navigation{
        width: 100%;
        justify-content: space-between;
        height: 100px;
    }

    #navigation > .fa-bars{
        display: block;
    }


    .navMenu{
        display: none;
    }

    .icones{
        display: none;
    }

    .awesome > .weAre{
        font-size: 2.5em;
    }

    .awesome > .letreW{
        font-size: 15em;
        top: 80px;
    }
    
    .features{
        flex-wrap: wrap;
    }
    .boxFeatures{
        width: 35%;
        margin-bottom: 50px;
    }

    .boxFeatures > i{
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 666px) {
    .awesome > .weAre::before{
        width: 80%;
    }
    
}

@media screen and (max-width: 600px) {
    
    .awesome > .weAre::before{
        Top: -65px;
        width: 100%;
    }
    h1{
        font-size: 3em;
    }
    .awesome > .weAre{
        font-size: 1.5em;
    }
    .awesome > .letreW{
        font-size: 10em;
        top: 130px;
    }

    .boxFeatures{
        font-size: 14px;
        margin: 20px;
    }

    .iconesMobile > i{
       
        font-size: 1em;
        margin-right: 15px;
       
    }

    .footerText{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 425px) {

    .awesome > .weAre::before{
        top: -60px;
       ;
    }
    .features{
        flex-direction: column;
    }
    
    .boxFeatures{
        width: 80%;
    }
}

@media screen and (max-width: 375px){
.awesome > .weAre::before {
    top: -60px;
    width: 80%;
}
}